html {
    overflow: hidden;
}

body{
    font-family: 'Cabin', sans-serif;
}

.overlay > * {
    width: 100%;
    position: absolute;
    z-index: 750;
}

.overlayTopContainer {
    top: 30px;
    left: 35%;
    /*transform: translateX(-50%);*/
    color: green;
}

.overlayTopContainer > h1 {
    text-align: center;
    background-color:honeydew;
    padding-top: 10px;
    width: 500px;
    height: 50px;
    border-radius: 4px;
}

.overlayLoginContainer {
    width: 200px;
    background-color: honeydew;
    top: 30%;
    left: 40%;
    padding: 30px 60px 30px 60px;
    border-radius: 4px;
    box-shadow: rgb(94, 94, 94);
}

.login-body{
    padding-bottom: 10px;
    line-height: 1.8;
}